#page-auth {
  display: flex;
  height: 100vh;
  align-items: stretch;

  aside {
    flex: 6;

    background-color: #835afd;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 120px 80px;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 36px 'Poppins', sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 24px;
      line-height: 32px;
      margin-top: 16px;
    }
  }

  main {
    flex: 8;

    padding: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    h1 {
      font-size: 52px;
      color: #835afd;
    }

    h2 {
      font-size: 24px;
      margin: 34px 0 24px;
      font-family: 'Poppins', sans-serif;
    }

    .link {
      text-decoration: none;
      color: #fff;

      button {
        width: 100%;
        background-color: #835afd;
      }
    }

    form {
      display: flex;
      flex-direction: column;

      input {
        outline: none;
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background-color: #fff;
        border: 1px solid #a8a8b3;
      }

      button {
        margin-top: 16px;
      }

      button, input {
        width: 100%;
      }
    }

    p {
      font-size: 14px;
      color: #737380;
      margin-top: 16px;

      a {
        color: #e559f9;
        text-decoration: none;
        font-weight: bold;
        margin-left: 4px;
      }
    }

    .create-room {
      text-decoration: none;
      margin-top: 34px;
      height: 50px;
      border-radius: 8px;
      font-weight: bold;
      background-color: #ea4335;
      color: #fff;

      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;
      border: 0;

      transition: all 200ms;

      img {
        margin-right: 8px;
      }

      &:hover {
        filter: brightness(0.9);
      }
    }

    .separator {
      font-size: 14px;
      color: #a8a8b3;

      margin: 32px 0;
      display: flex;
      align-items: center;

      &::before {
        content: '';
        flex: 1;
        height: 1px;
        margin-right: 16px;
        background-color:#a8a8b3;
      }

      &::after {
        content: '';
        flex: 1;
        height: 1px;
        margin-left: 16px;
        background-color:#a8a8b3;
      }
    }
  }
}


